.header{
    top: 0;
    left: 0;
    width: 100%;
}



body{
    margin: 0;
    align-items: center;
    align-content:  center;
    /*padding: 30px;*/
    /*background-color: aqua;*/
}

main{
    display: flex;
    justify-content: center;
    
}

.content{
    /*border: 10px solid black;*/
    align-self: center;
    width: 50%;
    
}

#mybul li{
    padding: 10px 0px;
}

@media screen and (max-width:600px) {
    .content{
        width: 100%;
    }
    main{
        justify-content: left;
    }
}
