.header{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

body{
    margin: 0;
    align-items: center;
    align-content:  center;
    display: block;
    /*background-color: aqua;*/
}

main{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.content{
    /*border: 10px solid black;*/
    align-self: center;
    width: 50%;
    
}

#mybul li{
    padding: 10px 0px;
}

footer{
    padding: 20px;
}

#gdocs{
    height: 60%;
    width: 80%;
}

@media screen and (max-width:625px) {
    .content{
        width: 100%;
    }
    #gdocs{
        width:90%;
        height: 90vh; 
    }
    main{
        display: block;
        justify-content: left;
        margin-top: 120px;
    }
}
